//
// Z-indexes
//

$z-index-below: -1;
$z-index-base: 1;
$z-index-above: 2;

$z-index-dropdown: 1000;
$z-index-sticky: 1010;
$z-index-fixed: 1020;
$z-index-tooltip: 1030;
$z-index-popover: 1040;
$z-index-modal: 1050;
