//
// Text truncate
//

/**
* Set the top and bottom margin (requires inline-block or block for proper styling)
*/
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
